env:
  global:
    - RUST_BACKTRACE=1
    - PATH=$PATH:$HOME/.cargo/bin:$HOME/rust/bin

sudo: true

os:
  - linux
  - osx

osx_image: xcode8.2

compiler:
  - gcc
  - clang

language: node_js

node_js:
  - "7"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
cache:
  cargo: true
  directories:
    - node_modules

before_install:
  - curl -s https://static.rust-lang.org/rustup.sh > rustup.sh && sh rustup.sh --prefix=~/rust --spec=1.17.0 -y --disable-sudo
  - "[[ ${TRAVIS_OS_NAME} = linux ]] && export CXX=g++-4.8 || echo 'skipped'"

install:
  - node --version
  - npm --version
  - npm i

before_script:
  - travis_wait 30 npm run build-libs -- --features="mock-routing" --clean
  - npm run grep-error-codes

script:
  - npm run lint
  - npm test
