<?xml version='1.0' encoding='utf-8'?>
<widget id="net.maidsafe.authenticator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SAFE Network Authenticator</name>
    <description>
        
    </description>
    <author email="dev@maidsafe.net" href="https://maidsafe.net">
        MaidSafe Developper Team
    </author>
    <content src="index.html" />
    <hook type="before_prepare" src="hooks/build.sh" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="net.maidsafe.auth" spec="./src/cordova" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
