* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: {
    color: $root-bg;
  };
  font: {
    family: 'Open Sans';
    size: 15px;
    weight: normal;
  };
}

.root, .base {
  width: 100%;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0,0, 0.5);
  .popup-b {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    .popup-cont {
      width: 400px;
      margin: 0 auto;
      padding: 25px 30px;
      background-color: white;
      text-align: left;
      position: relative;
      .icn {
        width: 50px;
        height: 50px;
        display: inline-block;
        position: absolute;
        background: {
          image: url("../img/success.svg");
          size: 40px;
          repeat: no-repeat;
          position: left center;
        };
      }
      &.error {
        .icn {
          background: {
            image: url("../img/error.svg");
          };
        }
      }
      .desc {
        padding-left: 60px;
        padding-top: 5px;
        min-height: 50px;
        display: inline-block;
        font-size: 16px;
      }
      .detailed-desc {
        padding-top: 8px;
        .head {
          display: block;
          font-size: 12px;
          font-weight: 600;
          cursor: pointer;
          background-color: transparent;
          border: 0;
          padding: 8px 0;
          outline: none;
        }
        .info {
          display: none;
          font-size: 12px;
        }
        &.show {
          .info {
            display: block;
          }
        }
      }
      .opt {
        text-align: right;
        button {}
      }
    }
  }
}

.nw-status {
  display: inline-block;
  width: 50px;
  height: 50px;
  &-i {
    width: 50px;
    height: inherit;
    display: block;
    background: {
      position: center;
      repeat: no-repeat;
    }
    cursor: pointer;
    &.connecting {
      background-image: url($nw-connecting-url);
      animation: spin 0.4s linear infinite;
    }
    &.connected {
      background-image: url($nw-connected-url);
    }
    //&.error {
    //  background-image: url($nw-error-url);
    //}
  }
  &-tooltip {
    display: none;
    width: 100px;
    text-align: center;
    font: {
      size: 10px;
      weight: normal;
    }
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #424242;
    color: #DDD;
    margin-left: -50px;
    margin-top: 12px;
    padding: 0 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    overflow: hidden;
  }
  &:hover {
    .nw-status-tooltip {
      display: inline-block;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
