.bg-primary-blue {
  background-color: $primary-blue;
}

.bg-primary-blue-hover {
  background-color: $primary-blue-hover;
}

.bg-primary-blue-action {
  background-color: $primary-blue-action;
}

.bg-primary-red {
  background-color: $primary-red;
}

.bg-primary-red-hover {
  background-color: $primary-red-hover;
}
