header {
  position: relative;
  background: {
    color: $header-bg;
  };
  height: 90px;
  padding: 0 40px 25px;
  display: flex;
  align-items: flex-end;
  .h-app-name {
    flex: 1;
    height: 20px;
    background: {
      color: transparent;
      image: url("../img/authenticator-name.svg");
      repeat: no-repeat;
      size: 175px;
    };
  }
  .h-app-logo {
    width: 60px;
    height: 60px;
    background: {
      color: transparent;
      image: url("../img/authenticator-logo.svg");
      repeat: no-repeat;
      size: contain;
    };
    border: 5px solid #FFF;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -30px;
    z-index: 99;
  }
  .h-opt {
    flex: 1;
    text-align: right;
    button {
      text-transform: uppercase;
      font: {
        weight: bolder;
        size: 15px;
      };
      color: $header-opt-clr;
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      line-height: 40px;
    }
  }
}
