$primary-blue: #5592d7;
$primary-blue-hover: #6FAFEF;
$primary-blue-action: #3575B5;
$primary-red: #e26464;
$primary-red-hover: #ff8a8a;
$body-bg: #F4F4F4;
$header-bg: #FFF;
$default-btn: $primary-blue;
$primary-gray: #DDD;

$safe-auth-logo-size: 60px;
$safe-auth-logo-url: '../img/safe-auth-logo.svg';

$spinner-size: 50px;
$alert-width: 400px;
